# Set default behavior to automatically normalize line endings as LF
* text=auto eol=lf

# Shell scripts must use Unix line endings
*.sh text eol=lf

# Use Unix line endings for YAML files
*.yml text eol=lf
*.yaml text eol=lf
